<!doctype html>
<html lang="en" ng-app='myApp'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="container" ng-controller="MainController">
            {{ data }}
            <button type="button" class="btn btn-primary" ng-click="open()">Open me!</button>
            <button type="button" class="btn btn-secondary" ng-click="open('lg')">Large modal</button>
            <button type="button" class="btn btn-success" ng-click="open('sm')">Small modal</button>            
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="/scripts/multimap.js"></script>
        <script src="/scripts/stackedmap.js"></script>        
        <script src="/scripts/position.js"></script>
        <script src="/scripts/modal.js"></script>
        <script>

            let myApp = angular.module('myApp', ['ui.bootstrap5.modal']);

            myApp.controller('ModalController', function ModalController($scope, $uibModalInstance ){
                $scope.ok = function () {
                    $uibModalInstance.close('ok');
                };

                $scope.cancel = function () {
                    $uibModalInstance.dismiss('cancel');
                };
            });            

            myApp.controller('MainController', function MainController($scope, $uibModal, $log, $document) {

                $scope.animationsEnabled = true;

                $scope.data = {
                    'prop1': 1,
                    'prop2': 2
                };
               
                $scope.open = function (size, parentSelector) {
                    
                    var parentElem = parentSelector ? angular.element($document[0].querySelector('.modal-demo ' + parentSelector)) : undefined;
                    
                    var modalInstance = $uibModal.open({
                        animation: $scope.animationsEnabled,
                        ariaLabelledBy: 'modal-title',
                        ariaDescribedBy: 'modal-body',
                        templateUrl: '/usage/partials/modal_content.html',
                        controller: 'ModalController',                    
                        size: size,
                        appendTo: parentElem
                    });

                    modalInstance.result.then(function (response) {
                        console.log("Modal closed with response");
                        console.log(response);
                        
                    }, function (response) {
                        console.log("Modal dismissed with response");
                        console.log(response);
                    });

                };
            });

            
        </script>
    </body>
</html>